<h3>Cart</h3>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Item of store.order.Items">
            <td>
                <img src="/img/{{Item.productPicture}}.jpg" class="img-fluid product-img"/>
            </td>
            <td>{{Item.productName}}</td>
            <td>{{Item.quantity}}</td>
            <td>{{Item.unitPrice | currency :"LKR "}}</td>
            <td> {{Item.unitPrice === undefined || Item.quantity === undefined ? 'Unknown' : (Item.unitPrice*Item.quantity| currency :"LKR ")}}</td>
            <!--<td> <button class="btn btn-success" (click)="store.removeItem(Item)">Remove</button></td>
        </tr>-->
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"><strong>Subtotal : {{store.order.subtotal | currency :"LKR "}}</strong></td>
        </tr>
    </tfoot>
</table>
<a class="btn btn-success" *ngIf="store.order.Items.length>0" routerLink="checkout">Checkout</a>