@model IEnumerable<Product>

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/client-app/runtime.dfeee1d39451ef17.js"></script>
    <script src="~/client-app/polyfills.be3e8e003f99e6af.js"></script>
    <script src="~/client-app/main.2d35108e9ad8c51d.js"></script>
}

@section head{
    <base href="/Main/Shop" />
    <link href="~/client-app/styles.ef46db3751d8e999.css" rel="stylesheet" />
}

<div class="col-sm-12 container-fluid">
    <h1>Welcome to BuyThis.LK</h1>
        <the-product></the-product>
</div>
