@model IEnumerable<Product>

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center" class="col-sm-12 container-fluid">
    <h1>Welcome to BuyThis.LK</h1>
    @*<br />
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/img/@(p.ProductPicture).jpg">
                    <div class="card-body">
                        <h5 class="card-title">@p.ProductName</h5>
                        <p class="card-text">@p.ProductDescription
                        <br />
                        LKR @p.ProductPrice</p>
                        @Html.ActionLink("View", "ProductPage", new {id = p.ProductId}, new {@class = "btn btn-primary far fa-eye"})
                    </div>
                </div>
                <br>
            </div>
        }
    </div>*@
</div>
